h1,
h2{
    
    text-align: center;
    color: whitesmoke;
}

h1{
    font-size: 3rem;
    font-weight: normal;
    color: purple;
}

h2{
    font-size: 3rem;
    font-weight: bold;
}

.fallback{
    text-align: center;
    color: whitesmoke;
}